/* pages/fixed/amend.wxss */
@import "../phone/phone.wxss";
.sections{
    padding: 3%;
}
.sections .section__title{
    width: 30%;
}
.sections input{
    width: 45%;
}
.sections button{
    width: 25%;
    font-size: 20rpx;
    background-color: #FF3600;
    border-radius: 15rpx;
    color: #FFF;
}