<view class="bg1"></view>
<view class="box">
  <image src="../../images/t2.png" class="t2"></image>
  <view class="text">您还没有任何收货地址</view>
</view>
<navigator url="receiptaddress"  class="add"> + 新建地址</navigator>
