.address_box{
  overflow: hidden;
}
.text_box{
  color: #020202;
  font-size: 28rpx;
  line-height: 46rpx;
  border-bottom: 1px #fee7e0 solid;
  padding: 10rpx 32rpx;
  overflow: hidden;
}
.text1_fl{
  float: left;
}
.text1_fr{
  float: right;
}
.text1,.text2{
  overflow: hidden;
}
.select_box{
  font-size: 24rpx;
  color: #020202;
  padding: 10rpx 30rpx;
  overflow: hidden;
}
.select_fr{
  float: right;
  color: #020202;
}
.select_fl{
  float: left;
}
.select_fl radio{
  vertical-align:middle;
}
.select_fr image{
  width: 30rpx;
  height: 30rpx;
  vertical-align:sub;
}
.addree_body{
  padding-bottom: 92rpx;
}
.add{
  height: 92rpx;
  background: #ff3600;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 92rpx;
  color: #fff;
  font-size: 34rpx;
  font-weight: bold;
}